<link rel='stylesheet' href='/css/student-profile.css' />

<div class='profile'>

  <div class='student-info'>
    <img
      src='https://randomuser.me/api/portraits/med/women/{{randomizePicture}}.jpg'
      alt='Image'
      srcset=''
      id='picture'
      width='120px'
      height='120px'
    />
    <div class='grid'>
      {{#each student}}
        <div class='cell'>

          <table>
            <tbody>
              <tr>
                <td style='width: 100px;'>
                  <p class='label'>{{@key}}</p>
                </td>
                <td>
                  <p class='info'> {{this}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {{/each}}
    </div>

  </div>

  <div class='subjects'>

    <p>List of Enrolled subjects</p>
    <table class='table'>
      <thead>
        <tr>
          <td class='table'>Subject Id</td>
          <td class='table'>Subject Name</td>
        </tr>
      </thead>
      <tbody>
        {{#each subjects}}
          <tr>
            <td class='table info'>{{subject_id}}</td>
            <td class='table info'>{{subject_name}}</td>
          </tr>
        {{/each}}

      </tbody>
    </table>

  </div>
</div>